<!--
    Within the chosen theme We can change the color of our elements,
    color="primary"
    color="secondary"
    color="accent"
-->
<mat-toolbar color="primary">
    <h2>Lookbook Prototype</h2>
</mat-toolbar>


<mat-divider></mat-divider>

<mat-card class="my-card">
    <mat-card-content>
       <form class="my-form">
          <mat-form-field class="full-width">
             <mat-label>Username or Email</mat-label>
             <input  matInput  placeholder="Email" name="email">
          </mat-form-field>
          <mat-form-field class="full-width">
             <mat-label>Password</mat-label>
             <input  matInput  placeholder="Password" name="password">
          </mat-form-field>
       </form>
    </mat-card-content>
    <mat-card-actions>
       <button mat-raised-button color="accent" routerLink="/lookbooks">LOGIN</button>
    </mat-card-actions>
 </mat-card>

<div class="spinner-container">
   <div class="spinner-background"> <img src="https://datsan.openbroadcaster.pro/download.php?media_id=3033" width="45px"></div>
   <mat-progress-spinner #spinner
       color="primary"
       mode="indeterminate"
       value="10">
   </mat-progress-spinner>
</div>
 <app-loading></app-loading>







