<div [class.alternative]="otherTheme">
  <div class="mat-app-background">

    <mat-toolbar>
      <mat-toolbar-row>
        <h1>Research PT</h1>
        <span style="flex: 1 1 auto;"></span>
        <button mat-raised-button routerLink="">Home</button>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <section class="example-section">
        <button (click)="changeTheme()" mat-raised-button color="primary">Change Theme 1111</button>
     </section>
    </div>
</div>
