ul {
  width: 100%;
}

ul li {
  display: inline-block;
}

input[type=text] {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  height: 30px;
  padding: 10px;
  background-color: #454545;
  border: 0px;
}

input:focus {
  outline: none;
}

input.subtitle_text_field {
  width: 600px;
}

input.tc_viewer {
  width: 3em;
  text-align: center;
  margin: 0px 4px;
}
