/* We can change the theme to any of
    "~@angular/material/prebuilt-themes/deeppurple-amber.css"
    "~@angular/material/prebuilt-themes/indigo-pink.css"
    "~@angular/material/prebuilt-themes/pink-bluegrey.css"
    "~@angular/material/prebuilt-themes/purple-green.css"
*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
 }

 .my-card {
    text-align: center;
}

